*{
    margin: 100;
    padding: 100;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    scrollbar-color: #474747 #292929;
}

body{
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    background: #292929;
    width: 12px;
}

.container{
    background: #2c2c2c;
    height: 100vh;
    background-size: 100% 100%;
}

.container .navbar{
    width: 100%;
    height: 60px;
    background: rgb(37, 37, 37);
}

.navbar .logo{
    display: inline-block;
    margin-left: 100px;
    margin-top: 18px;
}

.navbar .logo img{
    width: 40px;
    height: 40px;
    margin-top: -3px;
    margin-right: 1rem;
    margin-bottom: 0px;
    margin-left: 0px;
}

.navbar .logo a{
    text-decoration: none;
    font-size: 25px;
    font-family: sans-serif;
    color: white;
    width: max-content;
    height: 40px;
    text-align: left;
    text-anchor: start;
    font-weight: 100;
    display: flex;
    font-style: normal;
    margin-top: 0px;
}

.navbar ul{
    float: right;
    margin-right: 100px;
    margin-top: 0px;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    line-height: 65px;
}

.navbar ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 5px;
    font-family: sans-serif;
}

.navbar ul li a:hover{
    color: rgb(133, 133, 133);
}

.container .center{
    position:absolute;
    top: 50%;
    left: 50%;transform: translate(-50%,-50%);
    font-family: sans-serif;
    user-select: none;
}

.center h1{
    color: white;
    font-size: 75px;
    font-weight: bolder;
    width: 1000px;
    text-align: center;
}

.center p{
    color: white;
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
}